* {
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    background: #333;
    line-height: 1;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.container {
    position: relative;    
    height: 100vh;
    background: rgb(42, 36, 51);
}

.header {
    width: 100%;
    background-color: white;
}
.knop {
    position: absolute;
    padding: 0.4em;
    width: 80px;
    left: 2.3em;
    top: 10em;
    background-color: blue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.knop a {
  color: white;  
}
.content-box {
    position: relative;
    width: 75%;
    margin: 0 auto;
    max-width: 1400px;
}

.content-box .text-box {
    width: 100%;
    position: relative;
    padding: 25px 0 125px 0;
}

.content-box .img-headline {
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content-box .text-wrapper {
    color: #d9d9d9;
}

.text-box a {
    color: #bbb;
}

.text-box a:hover {
    text-decoration: underline;
}


.calltoaction {
    background: #222;
    opacity: .9;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 50%;
    margin-left: -65px;
    margin-top: -65px;
    pointer-events: none;
}

.calltoaction img {
    position: absolute;
    left: 30px;
    width: 50%;
    top: 15px;
}

.calltoaction-txt {
    font-weight: bold;
}

.calltoaction span {
    position: absolute;
    left: 20px;
    top: 95px;
    font-family: Arial;
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: 0.05em;
}


.juxtapose-wrapper {
    position: relative;
}

.juxtapose-wrapper .loader {
    position: absolute;
    font-size: 26px;
    width: 40px;
    left: 50%;
    margin-left: -20px;
    top: 20px;
}

.juxtapose {
    min-height: 37em;
}

div.jx-image.jx-left div.jx-label {
    left: 10px;
    top: 10px;
}

div.jx-image.jx-right div.jx-label {
    right: 10px;
    top: 10px;
}

div.jx-image div.jx-label {
    padding: .25em .5em;
    font-size: 16px;
}

div.jx-arrow.jx-right,
div.jx-arrow.jx-left {
    display: none;
}

div.jx-control {
    background: #232323;
    width: 2px;
}

div.jx-controller {
    background: transparent;
}

.background {
    background: #eee;
    padding: 2em 0;
    color: #222;
}

.background a {
    color: #222;
}

.background .content-box {
    max-width: 625px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.background .textarea {
    line-height: 29px;
    font-size: 17px;
}

.textarea img {
    width: 100%;
    margin-top: 20px;
    display: block;
}

.textarea .imgsub {
    font-size: 12px;
    color: #777;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    line-height: 12px;
}

.background .headline {
    margin-top: 50px;
    font-size: 32px;
    margin-bottom: 20px;
}

.background .separator {
    height: 1px;
    background: #d4d4d4;
    width: 200px;
    margin: 70px auto 50px auto;
}

.columns .row {
    width: 100%;
    float: none;
    line-height: 19px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 625px;
    margin: 0 auto;
}

button.knopmodal {
position: absolute;
left: 10em;
width: 30em;
clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
text-align: start;
}

button.knopmodal1 {
top: 10em;
}

button.knopmodal2 {
    top: 13em;
}

button.knopmodal3 {
    top: 16em;
}

button.knopmodal4 {
   top: 19em; 
}

button.knopmodal5 {
    top: 22em;
}


button.knopmodal6 {
    top: 25em;
}

button.knopmodal7 {
    top: 28em;
}

button.knopmodal8 {
    top: 31em;
}
.icon-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

        button {
            position: fixed;
            top: 200px;
            left: 5px;
            width: 100px;
            padding: 10px
        }

        .btn {
            position: fixed;
            top: 150px;
            left: 5px;
            width: 100px;
            padding: 10px

        }

        .btn a {
            color: white;
            background-color: blue;
            padding: 5px 10px;
            transition: all 1s ease;
        }
        .btn:hover a {
            color: blue;
background-color: white;
padding: 8px 13px;
font-weight: 900;
        }

                .topline,
                .subline {
 display: inline-block;
               }

        .topline p,
        .subline p {
            position: relative;
            width: calc(100%);
            height: 100%;
            background: rgb(244, 245, 248);
             padding: 5px 15px;
        }

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@media screen and (max-width: 1250px) {
    .header .anlauf {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .juxtapose {
        min-height: 300px;
    }
}

@media screen and (max-width: 915px) {
    /*    .additional,
    .socialcount,
    #social {
        display: none;
    }*/
    
    .num {
        display: block;
    }
    .chapter-menu-bottom .chapter {
        padding: 15px 20px;
    }
    .content-box {
        width: 96%;
    }
}

@media screen and (max-width: 800px) {
    .content-box .text-box {
        width: 100%;
        min-width: none;
        max-width: none;
        position: relative;
        left: 0;
        top: 0;
        background: none;
        max-height: none !important;
    }
    .content-box .text-box.pos-left {
        left: 0;
    }
    .content-box .text-box.pos-right {
        right: 0;
    }
    .superhead .subline {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .header .logo {
        display: none;
    }
    .header .mini-logo {
        display: block;
        float: left;
        padding-left: 10px;
    }
    .header .mini-logo img {
        width: 35px;
    }
    .juxtapose {
        min-height: 200px;
    }
    div.superhead {
        padding: 20px 0 20px 0;
        margin-bottom: 30px;
    }
    .superhead .topline {
        font-size: 28px;
    }
    .superhead .subline {
        font-size: 15px;
        margin-top: 20px;
        line-height: 20px;
    }
    .content-box .text-box {
        padding: 10px 0 50px 0;
    }
    .content-box .img-headline {
        font-size: 20px;
        line-height: 26px;
    }
    .content-box .text-wrapper {
        line-height: 24px;
    }

    .columns .row {
        width: 100%;
        float: none;
    }

    .separator {
        display: none;
    }
    .content {
        margin-top: 0;
    }
    .chapter-menu-bottom .chapter {
        padding: 15px 20px;
    }
    .text-box .text-toggle {
        width: 100%;
    }
    .chronic ul {
        float: none;
        width: 100%;
        padding: 10px;
    }
    .archiv-img {
        bottom: 15px;
        right: 15px;
        position: absolute;
        color: #888;
        font-size: 12px;
    }
    .calltoaction {
        background: #222;
        opacity: .9;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        position: absolute;
        z-index: 999;
        left: 50%;
        top: 50%;
        margin-left: -37px;
        margin-top: -37px;
    }
    .calltoaction img {
        position: absolute;
        left: 20px;
        width: 45%;
        top: 16px;
    }
    .calltoaction span {
        position: absolute;
        left: 15px;
        top: 52px;
        font-family: Arial;
        text-transform: uppercase;
        font-size: .4em;
        letter-spacing: 0.05em;
    }
    .calltoaction-txt {
        display: none;
    }

}